body,
html {
	height: 100%;
	margin: 0;
	padding: 0;
}

.bg-container {
	/* The image used */
	background-image: url("comets.jpg");

	/* Full height */
	height: 100%;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.cd-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #ffffff;
	text-align: center;
	font-family: "Courier New", Courier, monospace;
}

.timer {
	padding-top: 2rem;
	padding-bottom: 2rem;
	display: flex;
	justify-content: center;
}

.countdown-el {
	padding-left: 4rem;
	padding-right: 4rem;
}
